img{
  width: 100px;
  height: 100px;
}
#pais .seleccion{
  margin: 1em 0 1em 5em;

}
.caja{
  margin: 1em 0 1em 30em;
  border: 2px solid;
    width: 700px;
}
#pais{

}
div img{
  position: absolute;
  top: 50px;
  left: 50px;
}
