<%= form_with(model: al_toque, local: true) do |form| %>
  <% if al_toque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(al_toque.errors.count, "error") %> prohibited this al_toque from being saved:</h2>

      <ul>
      <% al_toque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
