				<ul class="NavBar-links col m9">
					<li class="waves-effect"><%= link_to "Hogar", '/home' %></li>
					<li class="waves-effect"><%= link_to "Carrito de Compras", '/carrito' %></li>
					<li class="waves-effect"><%= link_to "Cerrar Sesion", '/index' %></li>
				</ul>
				<i class="zmdi zmdi-more-vert full btn-menu hide-on-med-and-up waves-effect"></i>
			</div>
		</nav>
		<!--------------------------------------------------------------------------->

	<div class="full ShoppingCart valign-wrapper">
		<div class="container valign">
			<div class="row valign-wrapper">
				<div class="col s12 m6 valign">
					<p class="center-align" style="color: #2F9FF3;">
						<i class="zmdi zmdi-shopping-cart zmdi-hc-5x"></i>
					</p>
					<p class="center-align">
						<a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-tooltip="Empty cart" style="margin-right: 17px;"><span class="cross"></span></a>
						<a class="btn-floating waves-effect waves-light green tooltipped" data-position="bottom" data-tooltip="Confirm purchase"><span class="icon-coin-dollar"></span></a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<section>
		<div class="container">
			<div class="row">
				<h4 class="center-align tittles">Productos</h4>
<!--Cuadro de Productos-->
				<div class="col s12 m6 l4">
					<div class="card1">
						<div class="card-image waves-effect waves-block waves-light">
							<%= image_tag("producto_1.png") , class="activator"%>
							<!--<img class="activator" src="assets/img/producto_1.png">-->
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><a href="productos_descripcion.html">ZAPATILLAS SUPERSTAR </a><i class="zmdi zmdi-more-vert right"></i></span>
							<p>Disponible solo para hombres</p>

						</div>

					</div>
				</div>
<!---------->

			</div>
		</div>
	</section>

<!--------------------------->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col s12 tittles footer-copyright">Altoque.com &copy; 2018</div>
			</div>
		</div>
	</footer>
</body>
</html>
